.jumbotron {
background-image: url("../images/train3.jpg");
background-size: cover;
}

body{
    font-family: 'Noto Serif', serif;
}

#invisibleText {
    visibility: hidden;
}

h1 {
    color: white;
    font-family: 'Noto Serif', serif;
    border: solid white 3px;
    font-size: 2.5em;
    padding-left: 20px;
    padding-bottom: 10px;
}




